#container{
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    height: 800px;
    width: 800px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-block{
    box-sizing: border-box;
    border: 1px solid rgb(255, 0, 0);
}

.changeSize{
    border: black;
    margin-bottom: 8px;
    width: 200px;
    height: 30px;
    font-size: larger;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid black;
}